@font-face {
  font-family: 'GowunBatang';
  font-weight: 400;
  src: url('/font/GowunBatang/GowunBatang-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'GowunBatang';
  font-weight: 700;
  src: url('/font/GowunBatang/GowunBatang-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ChosunGs';
  font-weight: 400;
  src: url('/font/ChosunGs/ChosunGs.ttf') format('truetype');
}
/* Pretendard - ExtraLight */
@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: url('/font/Pretendard/Pretendard-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src: url('/font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2');
}
/* Pretendard - Light */
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('/font/Pretendard/Pretendard-Light.woff2') format('woff2');
}
/* Pretendard - Regular */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('/font/Pretendard/Pretendard-Regular.woff2') format('woff2');
}
/* Pretendard - Medium */
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('/font/Pretendard/Pretendard-Medium.woff2') format('woff2');
}
/* Pretendard - SemiBold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
}
/* Pretendard - Bold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('/font/Pretendard/Pretendard-Bold.woff2') format('woff2');
}
/* Pretendard - ExtraBold */
@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('/font/Pretendard/Pretendard-ExtraBold.woff2') format('woff2');
}
// GowunBatang
@font-face {
  font-family: 'GowunBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
// GowunBatang
@font-face {
  font-family: 'GowunBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}